path.edge.hidden {
    stroke-width: 0;
    stroke: white;
}

path.edge {
    stroke: black;
    stroke-width: 6px;
}

circle {
    stroke: black;
    fill: white;
    stroke-width: 2px;
}

text {
    text-anchor: middle;
}

g.node:hover {
    cursor: grab;
}

marker{
    fill: black;
}