/* Nodes */

g.node > circle {
    stroke: var(--text-color);
    fill: var(--background-color);
    stroke-width: 2px;
}

g.node > text {
    text-anchor: middle;
    dominant-baseline: middle;
}

g.node:hover {
    cursor: grab;
}

g.node.selected>circle {
    fill: orange;
}

g.node.selected > marker {
    fill: orange;
}

g.node.selected > text {
    fill: black;
}

g.node:hover > circle {
    fill: orange;
}

g.node:hover > text {
    fill: black;
}

text.hidden {
    display: none;
}

/* Edges */

path.line.hidden {
    stroke-width: 0;
    stroke: var(--background-color);
}

path.line {
    stroke: var(--text-color);
    stroke-width: 6px;
    marker-end: url("#end-arrow")
}

.edge.selected > path {
    stroke: orange;
    marker-end: url("#selected-end-arrow");
}

.edge.selected > text {
    fill: orange;
}

marker {
    fill: var(--text-color);
}

#selected-end-arrow {
    fill: orange;
}

#selected-end-arrow > path {
    stroke: orange;
}

.edge:hover {
    cursor: pointer;
}

.edge:hover .line {
    marker-end: url("#selected-end-arrow");
    stroke: orange;
}

.edge:hover text {
    fill: orange;
}

/* Intermediate edge during drag */

path.line.dragline {
    marker-end: url("#mark-end-arrow");
}

path.line.dragline.hidden {
    marker-end: none;
}

path.line.dragline:hover {
    stroke: var(--text-color);
    cursor: pointer;
}