/* Nodes */

g.node > circle {
    stroke: black;
    fill: white;
    stroke-width: 2px;
}

g.node > text {
    text-anchor: middle;
}

g.node:hover {
    cursor: grab;
}

g.node.selected>circle {
    fill: orange;
}

g.node.selected > marker {
    fill: orange;
}

g.node:hover > circle {
    fill: orange;
}

text.hidden {
    display: none;
}

/* Edges */

path.edge.hidden {
    stroke-width: 0;
    stroke: white;
}

path.edge {
    stroke: black;
    stroke-width: 6px;
    marker-end: url("#end-arrow")
}

path.edge.selected {
    stroke: orange;
    marker-end: url("#selected-end-arrow");
}

marker {
    fill: black;
}

#selected-end-arrow {
    fill: orange;
}

path.edge:hover {
    marker-end: url("#selected-end-arrow");
    stroke: orange;
    cursor: pointer;
}

/* Intermediate edge during drag */

path.edge.dragline {
    marker-end: url("#mark-end-arrow");
}

path.edge.dragline.hidden {
    marker-end: none;
}

path.edge.dragline:hover {
    stroke: black;
    cursor: pointer;
}

/* Toolbar */

#toolbox {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input {
    width: 30px;
    opacity: 0.4;
}

#toolbox input:hover {
    opacity: 1;
    cursor: pointer;
}

#select-file {
    display: none;
}

#download-input {
    margin: 0 0.5em;
}