path.hidden {
    stroke-width: 0;
    stroke: white;
}

path {
    stroke: red;
}

circle {
    stroke: black;
    fill: white;
    r: 15px;
}

text {
    text-anchor: middle;
}

g.node:hover {
    cursor: grab;
}